<h1> <%= params[:model_name].classify %></h1>
<table>
  <thead>
  <tr>
    <% @model_class.attribute_names.each do |attr| %>
      <th><%= attr %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
    <% if @records.empty? %>
      <tr>
        <td>No records found</td>
      </tr>
    <% else %>
      <% @records.each do |record| %>
        <tr>
          <% record.attributes.each_value do |value| %>
            <td><%= value %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
